[Unit]
Description=Daphne Worker
[Service]
ExecStart=/Arduino/conf/daphnew
Type=simple
KillSignal=SIGQUIT
Restart=always
NotifyAccess=all
[Install]
WantedBy=multi-user.target
